$ff05 : rgba(255, 255, 255, 0.5);
@mixin backgroundSize {
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fillscren{
 position: fixed !important;
 top: 0 !important;
 left: 0  !important;
 right: 0  !important;
 width: 100% !important;
 height: 100%  !important;
 padding: 50px;
 z-index: 100;
  background: #031a53;
// background: url('../kihu/scren.png');
 box-sizing: border-box;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 box-sizing: border-box   !important;

 /deep/  .echarts_box{
    height: 80vh;
}
/deep/ .echarts_box2{
    height: 35vh;
}

}

.echart {
    display: flex;
 
  
    .echarts_left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right_box {
      // width: 1280px;

      @include backgroundSize;
      .top {
        height: 60px;
        @include backgroundSize;
  
        display: flex;
        justify-content: space-between;
        .title_e {
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #f1f1f1;
          line-height: 60px;
          padding-left: 60px;
        }
        .show_times {
          font-size: 12px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.5);
          line-height: 40px;
          padding-right: 30px;
        }
      }
      .center {
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 40px;
  
        .box_left {
          .item {
            margin: 0 0 20px 0;
          }
        }
        .box_right {
          display: flex;
          flex-wrap: wrap;
          padding: 0 0 0 20px;
          box-sizing: border-box;
        }
        .right_item {
          margin-right: 20px;
        }
      }
    }
  }
  .dy_date {
    width: 80px;
    height: 20px;
    /deep/ .el-input__inner {
      padding: 0 10px;
      background-color: transparent !important;
      height: 20px;
      border: 1px solid $ff05 !important;
      color: $ff05;
    }
    /deep/ .el-input__prefix {
      color: $ff05;
      right: -40px;
      top: -8px;
    }
  }
  /deep/ .el-radio {
    color: $ff05;
   
  }

