$ff05 : rgba(255, 255, 255, 0.5);
@mixin backgroundSize {
    box-sizing: border-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.layout{
  width: 1200px;
  margin: 0 auto;
}
.boot_20{
  margin-bottom: 20px;
}